.depuracion {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
  padding: 5px;

  z-index: 100;
  opacity: 0.5;
  background-color: white;
  border: 1px solid black;
}

.canvas {
  position: relative;
  border: 1px solid red;
  overflow: hidden;
}

.area {
  position: absolute;
  background-color: green;
  border: 1px solid darkgreen;
  cursor: pointer;
}

.texto {
  text-align: center;
  font-size: large;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-shadow: 0 0 5px black;
}


img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.lista-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-items li {
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.lista-items li.seleccionado {
  background-color: yellow;
}
.panel-title > a {
    display: block;
    font-weight: normal;
    font-size: small;
    padding: 7px;
}

.panel-title > a:hover {
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff99a;
}

.controles {
  position: absolute;
  right: 0;
  width: 500px;
  top: 0;
  bottom: 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  border-left: 3px solid white;
}


input[type=range] {
  width: 80%;
}

.barra-botones {
    margin: 10px;
}

.barra-botones-lateral {
    margin: 10px;
    margin-left: 0;
}

.panel-default > .panel-heading {
    background-image: none;
    padding: 0;
}

.panel-title {
}

.botones-especiales-area {
    text-align: right;
}

.range {
    width: 220px;
}

.tab-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.panel {
    border-radius: 0 !important;
}

.nav {
    cursor: pointer;
}