<html ng-app='app'>
  <head>
    <title></title>
    <meta charset='utf-8'></meta>
    <link rel="stylesheet" href="css/estilo.css" charset="utf-8">

    <script charset="utf-8" src='js/reload.js'></script>

    <script charset="utf-8" src='js/angular.js'></script>
    <script charset="utf-8" src='js/app.js'></script>
    <script charset="utf-8" src='js/controllers/mainCtrl.js'></script>
    <script charset="utf-8" src='js/factories/scenesFactory.js'></script>

  </head>

  <body ng-controller='MainCtrl'>

    Depuración: <input type='checkbox' ng-model='data.depuracion'></input>




  <div class='canvas' ng-mousemove='on_move($event)'>
    <div class='texto'>{{data.destino}}</div>


    <div ng-repeat='n in data.scenes[data.escena_actual].puertas'
         class='area'
         ng-click='ir_a(n.destino)'
         ng-mouseover='mouse_over(n)'
         ng-style='obtener_estilo_area(n)'></div>


    <img ng-mouseover='mouse_over(null)' ng-src="escenas/{{data.scenes[data.escena_actual].fondo}}">

  </div>

    <div class='depuracion' ng-show='data.depuracion'>
      <pre>{{data|json}}</pre>
    </div>

  </body>
</html>
