<html ng-app='app'>
  <head>
    <title></title>
    <meta charset='utf-8'></meta>
    <link rel="stylesheet" href="css/estilo.css" charset="utf-8">

    <script charset="utf-8" src='js/reload.js'></script>

    <script charset="utf-8" src='js/angular.js'></script>
    <script charset="utf-8" src='js/app.js'></script>
    <script charset="utf-8" src='js/controllers/mainCtrl.js'></script>
    <script charset="utf-8" src='js/factories/scenesFactory.js'></script>

  </head>

  <body ng-controller='MainCtrl'>
    <label>depuración: <input type='checkbox' ng-model='data.depuracion'></input></label>

    <label>areas visibles: <input type='checkbox' ng-model='data.areas_visibles'></input></label>

  <div class='canvas' ng-mousemove='on_move($event)'>
    <div class='texto'>{{data.destino}}</div>

    <div my-draggable ng-repeat='n in data.scenes[data.escena_actual].puertas'
         class='area'
         ng-click='ir_a(n.destino)'
         ng-mouseover='mouse_over(n)'
         ng-style='obtener_estilo_area(n)'></div>

    <img ng-mouseover='mouse_over(null)' ng-src="escenas/{{data.scenes[data.escena_actual].fondo}}">
  </div>

  <div class='controles'>
    <div class='row'>
      <ul class='lista-items'>
        <li ng-click='seleccionar(n)' ng-style='obtener_estilo_item_lista(n)' ng-repeat='n in data.scenes[data.escena_actual].puertas'>{{n}}</li>
    </div>

    <div ng-show='data.item_seleccionado_id !== -1'>

      <div class='row'>
        <label> nombre <input type='text' ng-model='data.item_seleccionado.nombre'/></label>
          {{data.item_seleccionado}}
      </div>

      <div class='row'>
        <label> x <input type='range' min='0' max='800' ng-model='data.item_seleccionado.x'/></label>
      </div>

      <div class='row'>
        <label> y <input type='range' min='0' max='600' ng-model='data.item_seleccionado.y'/></label>
      </div>

      <div class='row'>
        <label> w <input type='range' min='30' max='640' ng-model='data.item_seleccionado.w'/></label>
      </div>

      <div class='row'>
        <label> h <input type='range' min='30' max='640' ng-model='data.item_seleccionado.h'/></label>
      </div>

      <div class='row'>
        <label> destino <select ng-model="data.item_seleccionado.destino"
                                ng-options="item as item.name for item in items"></select>

                                <select
                                ng-model="data.item_seleccionado.destino"
                                ng-options="i.id as i.name for i in obtener_escenas()">
        </label>


      </div>

    </div>

  </div>

  <div class='depuracion' ng-show='data.depuracion'>
    <pre>{{data|json}}</pre>
  </div>

  </body>
</html>
